/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.md .block {
    margin: 10px 0;
    g: 0 16px;
    
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}
}
.md .margin {
    margin: 16px!important;
    margin-top: 16px !important;
    margin-right: 5px !important;
    margin-bottom: 16px !important;
    margin-left: 5px !important;
}

.md .item-media .material-icons {
    font-size: 24px;
    width: 24px;
    height: 24px;
    padding: 10px;
}
